@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button, a {
  font-family: "Lexend", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header .link {
  position: relative;
}

header .link a {
  z-index: 20;
  position: relative;
  transition: all 0.3s ease-in-out;
}

header .link::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -5%;
  width: 24px;
  height: 24px;
  background: #581c87;
  z-index: 0;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 5px 0px;
}

header .link:hover::after {
  bottom: 0%;
  left: 25%;
}

header .link:hover a {
  color: white;
}

/* Target the date input field */
input[type="date"] {
  /* Your custom styles for the date input */
  color: #aaa;
  /* Text color */
  background-color: #0a0a0a; /* Background color */
  outline: none;
}

/* Target the placeholder text inside the date input */
input[type="date"]::placeholder {
  color: #ccc; /* Placeholder text color */
}

/* Target the calendar icon for the date input (might not work in all browsers) */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color of the calendar icon */
}

/* Additional styles to adjust the appearance in Firefox */
input[type="date"]::-moz-placeholder {
  color: #ccc; /* Placeholder text color for Firefox */
}

/* Additional styles for Firefox's calendar button */
input[type="date"]::-moz-calendar-box {
  filter: invert(1); /* Invert the color of the calendar icon in Firefox */
}
